.description {                 /*<---Меня код первого спринта тут, из за oakley*/
    display: flex;
    margin-top: 100px;
    /*align-self: center;*/
    justify-content: center;
    /*width: 80%;*/
  }